<h1>Secured Admin Area</h1>
<section>
  <h5>Actions:</h5>
  <a routerLink="add-user" routerLinkActive="active" mat-button>Add User</a>
  <a routerLink="add-product" routerLinkActive="active" mat-button>Add Product</a>
  <!-- <a routerLink="list" routerLinkActive="active" mat-button>Show list</a> -->
  <a routerLink="staff-list" routerLinkActive="active" mat-button>Staff list</a>
  <a routerLink="staff-list-experimental" routerLinkActive="active" mat-button>Staff list experimental</a>
</section>
<div class="content">
  <router-outlet></router-outlet>
</div>