<mat-progress-bar *ngIf="isLoading$ | async" color="accent" mode="indeterminate" style="position: absolute; top: 0; left: 0;"></mat-progress-bar>

<mat-toolbar color="primary">
  <span>Angular Router In Depth</span>
  <a mat-button class="first-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" routerLink="/">Home</a>
  <a mat-button routerLinkActive="active" routerLink="/users/user-list">Users</a>
  <a mat-button routerLinkActive="active" routerLink="/admin">Admin</a>
  <a mat-button routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
  <a mat-button routerLinkActive="active" routerLink="/settings/general">Settings</a>
</mat-toolbar>
<main class="content">
  <router-outlet></router-outlet>
</main>
